streamlit
python-dotenv
PyPDF2==3.0.1
langchain
langchain_groq
langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
langchain-text-splitters
Sentence_transformers
langchain_huggingface
PyPDF
Pymupdf
langchain-community
ipykernel
SQLAlchemy
mysql-connector-python